{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/buttons/buttons.njk" import button as button %}

<div class="container">
  {%- for buttongroup in button_example.button_groups -%}
    {%- if buttongroup.label %}
      <p class="h5">{{ buttongroup.label }}</p>
    {% endif -%}
    {%- for item in buttongroup.items -%}
      {{ button(item.text, item.class, item.attribute, item.icon) }}
    {% endfor -%}
  {% endfor -%}

</div>

