---
---
//Above dashes are used by Jekyll in main scss files (not needed in partials). DO NOT DELETE.

body {
    opacity: 1 !important;
}

// sass-lint:disable-all
// Imports
@import 'variables';
@import 'vendor/dkfds/dkfds-borgerdk';
@import 'styleguide-base';