// Site image path, relative to /css/
$site-image-path: '../img';

// Variables used by doc site styling
$borger-primary:              #568331 !default;
$borger-medium:               #3C5C22 !default;
$borger-dark:                 #233614 !default;
 
$virk-primary:                #067293 !default;
$virk-medium:                 #04556E !default;
$virk-dark:                   #033747 !default;
