//---
//---
//Above dashes are used by Jekyll in main scss files (not needed in partials). DO NOT DELETE.

body {
    opacity: 1 !important;
}

// sass-lint:disable-all
// Imports
@import 'variables';
//@import 'vendor/dkfds/dkfds-borgerdk';
//@import "~dkfds/src/stylesheets/dkfds-borgerdk"; //from node_modules

$font-path:         '~dkfds/src/fonts/IBMPlexSans/';
$image-path:        '~dkfds/src/img';
$site-image-path:   '~dkfds/src/img';
$icons-folder-path: '~dkfds/src/img/svg-icons';
@import '../node_modules/dkfds/src/stylesheets/dkfds-borgerdk';
@import 'styleguide-base';