{% from "components/modal/modal.njk" import modal as modal %}

<div class="container">
	<button class="button button-primary" data-micromodal-trigger="modal-active">Åben modal (aktiv)</button>
	<br>
	<br>
	<button class="button button-primary" data-micromodal-trigger="modal-passive">Åben modal (passive)</button>
	<div class="styleguide-spacer-modals"></div>
</div>

{{ modal('modal-active',modal_data_active) }}
{{ modal('modal-passive',modal_data_passive) }}
