@charset "UTF-8";
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  left: -999em;
}

/*!
 * Styling for Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.js-calendar-datepicker {
  cursor: pointer;
}

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #1a1a1a;
  background: #fff;
  border: 1px solid #747474;
  border-bottom: 1px solid #747474;
  font-family: "IBMPlexSans", "system";
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.pika-single {
  *zoom: 1;
}

.pika-single:before, .pika-single:after {
  content: " ";
  display: table;
}

.pika-single:after {
  clear: both;
}

.pika-single *:focus {
  outline: none;
}

.pika-lendar {
  float: left;
}

.pika-title {
  position: relative;
  text-align: center;
  max-height: 38px;
  border-bottom: 1px solid #BFBFBF;
  background-color: #F5F5F5;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-label {
  display: inline-block;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 7px 3px;
  color: #1a1a1a;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #1a1a1a;
  text-transform: none;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 37px;
  height: 37px;
  text-indent: 37px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  *position: absolute;
  *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11h12z'%3E%3C/path%3E%3C/svg%3E");
  *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4z'%3E%3C/path%3E%3C/svg%3E");
  *right: 0;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table tbody {
  background-color: #F5F5F5;
}

@media (min-width: 768px) {
  .pika-table th,
  .pika-table td {
    min-width: 52px;
  }
}

.pika-table th {
  color: #1a1a1a;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding: 8px 4px;
  border-bottom: 1px solid #BFBFBF;
}

@media (min-width: 768px) {
  .pika-table th {
    padding: 8px;
  }
}

.pika-table td:not(.is-disabled):not(.is-empty) {
  border: 1px solid #BFBFBF;
  background-color: #fff;
}

.pika-table td:not(.is-disabled):not(.is-empty):first-child {
  border-left: none;
}

.pika-table tr:last-child td:not(.is-disabled):not(.is-empty) {
  border-bottom: none;
}

.pika-table abbr {
  border-bottom: none;
  text-decoration: none;
}

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 8px;
  color: #1a1a1a;
  font-size: 1.6rem;
  text-align: right;
  background: #fff;
  font-weight: 500;
}

.is-today .pika-button {
  color: #1a1a1a;
}

.is-selected .pika-button {
  color: #fff;
  background: #1a1a1a;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  color: #aeb0b5;
  font-weight: 400;
  background-color: transparent;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
}

.pika-button:hover {
  color: #fff;
  background: #1a1a1a;
  box-shadow: none;
}

.pika-button .is-selection-disabled {
  pointer-events: none;
  cursor: default;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-inrange .pika-button {
  background: #D5E9F7;
}

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
}
