<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <section>
            <div class="align-left">
              <h1 class="h5 semibold mb-3" title="Ansvarlig myndighed" aria-label="Ansvarlig myndighed">Ansvarlig myndighed</h1>
              <p>Erhvervsstyrelsen og Digitaliseringsstyrelsen</p>
            </div>
          </section>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
           
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
           
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <section>
            <div class="align-left">
              <h1 class="h5 semibold"  title="Skriftlig kontakt" aria-label="Skriftlig kontakt">Bidrag til arbejdet</h1>
              <ul class="nobullet-list">
                <li><p><a class="function-link icon-link" href="https://github.com/detfaellesdesignsystem/dkfds-components/">Github repository<svg class="icon-svg"><use xlink:href="#open-in-new"></use></svg></a></p></li>
                <li><p>Opret gerne issues, hvis du har spørgsmål eller finder fejl i systemet.</p></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</footer>