{% macro pikaday() %}
  <button class="button-unstyled button-open-calendar js-calendar-datepicker">
    <svg class="icon-svg "><use xlink:href="#calendar"></use></svg>
  </button>
{% endmacro %}

<div class="container">
  <fieldset>
    <div class="form-group">
      <div class="date-group mt-3">
        <div class="form-group form-group-year ">
          {{pikaday()}}
        </div>
      </div>
    </div>
  </fieldset>
</div>