{% from "components/accordion/accordion.njk" import accordion as accordion %}

<div class="container">
{{ accordion(accordion_example.variant, accordion_example.items, accordion_example.id_prefix, accordion_example.multiselectable) }}

<p class="mt-6">Tilføj klassen <code>accordion-bordered</code> til  <code>.accordion</code> for at tilføje en synlig ramme:</p>
{{ accordion(accordion_example2.variant, accordion_example2.items, accordion_example2.id_prefix, accordion_example2.multiselectable) }}

<p class="mt-6">Man kan også tillade at flere kan være åbne på samme tid. Dette gøres ved at tilføje <code>aria-multiselectable="true"</code> attributten til <code>.accordion</code>.</p>
{{ accordion(accordion_example3.variant, accordion_example3.items, accordion_example3.id_prefix, accordion_example3.multiselectable) }}
</div>
