<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="displayheading-1">Display, text 1</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>font-family: "IBMPlexSans","system"<br>font-weight:700<br>font-size:4.8rem<br>line-height:5.6rem<br>color:#1a1a1a<br>margin-bottom:0</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="displayheading-2">Display, text 2</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>font-family: "IBMPlexSans","system"<br>font-weight:700<br>font-size:3.2rem<br>line-height:4rem<br>margin:1.6rem 0 1.6rem 0</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="displayheading-1 text-positive">Display, positive</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color:#358000</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="displayheading-2 text-negative">Display, negative</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color:#cc0000</pre>
        </div>
    </div>
</div>