<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>Brødtekst</p>
                </div>
                <div class="col-12 col-md-6">
                    <pre>font-family: "IBMPlexSans","system"<br>font-weight:400<br>font-size:1.6rem<br>line-height:2.4rem<br>margin:0 0 2.4rem 0</pre>
                </div>
            </div>
            <p><small>Dette er lille brødtekst (small-tag)</small></p>
            <p class="small-text">Dette er lille brødtekst (.small-text)</p>
            <p class="weight-semibold">Dette er semi-fed brødtekst</p>
            <p><strong>Dette er fed brødtekst</strong></p>
        </div>
    </div>
</div>