<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="h5">Linjelængde for brødtekst (p) - Desktop</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="demo-typesetting">Svarer til ca 75 tegn på desktop.</p>

            <p class="h5">Linjelængde for manchettekst (font-lead)-
                Desktop</p>
            <p class="font-lead">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
            <p class="font-lead demo-typesetting">Svarer til ca 75 tegn på
                desktop.</p>
        </div>
    </div>
</div>