<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                <a href="javascript:void(0);" class="">Standard link</a>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #004d99</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                <a href="javascript:void(0);" class="link-hover">Standard
                    link, hover</a>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #004080</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                <a href="javascript:void(0);" class="link-active">Standard
                    link, active</a>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #000040</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                <a href="javascript:void(0);" class="link-visited">Standard
                    link, visited</a>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #800080</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                <a href="javascript:void(0);" class="link-focus">Standard
                    link, focus</a>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #004D99;outline: 4px solid #747474;</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                <a href="javascript:void(0);" class="function-link">Footer
                    link</a>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #1a1a1a;</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Link som åbner en <a href="" class="icon-link">ekstern
                    website<svg class="icon-svg " ><use href="#open-in-new"></use></svg></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Dette er <a href="javascript:void(0);" class="disabled"
                    disabled="disabled" tabindex="-1">et standard link,
                    disabled</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><a href="javascript:void(0);" class="function-link"><svg class="icon-svg " ><use href="#printer"></use></svg>Funktions
                    link</a></p>
        </div>
    </div>

    <div class="background-dark p-6">
        <p>This is a
            <a href="javascript:void(0);" class="">default link state</a>
            on a dark background.</p>
        <p>This is a
            <a href="javascript:void(0);" class="link-hover">hover link
                state</a>
            on a dark background.</p>
        <p>This is a
            <a href="javascript:void(0);" class="link-active">active link
                state</a>
            on a dark background.</p>
        <p>This is a
            <a href="javascript:void(0);" class="link-visited">visited
                link state</a>
            on a dark background.</p>
        <p>This is a
            <a href="javascript:void(0);" class="link-focus">focus link
                state</a>
            on a dark background.</p>
        <p>This is a link that goes to an <a href="" class="icon-link">external
                website<svg class="icon-svg " ><use href="#open-in-new"></use></svg></a>
            on a dark background.</p>
        <p>This is a text <a href="javascript:void(0);" class="disabled"
                disabled="disabled" tabindex="-1">disabled link state</a>
            on a dark background.</p>
        <p><b>This is a 
  <a href="javascript:void(0);" class="" >link</a>
 in bold</b></p>
        <p><small>This is a 
  <a href="javascript:void(0);" class="" >link</a>
 in smalltext</small></p>
    </div>
</div>