<div class="container">
    <fieldset>
        <legend class="h5">Lille radioknap</legend>
        <ul class="nobullet-list">

            <li>

                <div class="form-group ">
                    <input id="unchecked" type="radio" name="unchecked"
                        value="truth" class="form-radio   ">
                    <label for="unchecked" class="">Ikke-udfyldt radioknap
                    </label>
                </div>

            </li>

            <li>

                <div class="form-group ">
                    <input id="Checked" type="radio" name="Checked" value="Checked"
                        class="form-radio   " checked>
                    <label for="Checked" class="">Udfyldt radioknap
                    </label>
                </div>

            </li>

            <li>

                <div class="form-group ">
                    <input id="Disabled" type="radio" name="Disabled"
                        value="Disabled" class="form-radio   " disabled>
                    <label for="Disabled" class="">Inaktiv ikke-udfyldt
                        radioknap (disabled) </label>
                </div>

            </li>

            <li>

                <div class="form-group ">
                    <input id="Disabled-checked" type="radio" name="Disabled-checked"
                        value="Disabled-checked" class="form-radio   "
                        disabled checked>
                    <label for="Disabled-checked" class="">Inaktiv udfyldt
                        radioknap (disabled) </label>
                </div>

            </li>

            <li>

                <div class="form-group ">
                    <input id="Focus" type="radio" name="Focus" value="Focus"
                        class="form-radio focus  ">
                    <label for="Focus" class="">Ikke-udfyldt radioknap i
                        fokus </label>
                </div>

            </li>

        </ul>
    </fieldset>

    <fieldset>
        <legend class="h5">Stor radioknap (anbefalet)</legend>
        <ul class="nobullet-list">

            <li>

                <div class="form-group ">
                    <input id="Unchecked-large" type="radio" name="Unchecked-large"
                        value="Unchecked-large" class="form-radio  radio-large ">
                    <label for="Unchecked-large" class="">Stor
                        ikke-udfyldt radioknap </label>
                </div>

            </li>

            <li>

                <div class="form-group ">
                    <input id="Checked-large" type="radio" name="Checked-large"
                        value="Checked-large" class="form-radio  radio-large "
                        checked>
                    <label for="Checked-large" class="">Stor udfyldt
                        radioknap </label>
                </div>

            </li>

            <li>

                <div class="form-group ">
                    <input id="Disabled-large" type="radio" name="Disabled-large"
                        value="Disabled-large" class="form-radio  radio-large "
                        disabled>
                    <label for="Disabled-large" class="">Stor inaktiv
                        ikke-udfyldt radioknap (disabled) </label>
                </div>

            </li>

            <li>

                <div class="form-group ">
                    <input id="Disabled-checked-large" type="radio" name="Disabled-checked-large"
                        value="Disabled-checked-large" class="form-radio  radio-large "
                        disabled checked>
                    <label for="Disabled-checked-large" class="">Stor
                        inaktiv udfyldt radioknap (disabled) </label>
                </div>

            </li>

            <li>

                <div class="form-group ">
                    <input id="Focus-large" type="radio" name="Focus-large"
                        value="Focus-large" class="form-radio focus radio-large ">
                    <label for="Focus-large" class="">Stor ikke-udfyldt
                        radioknap i fokus </label>
                </div>

            </li>

        </ul>
    </fieldset>
</div>