{% from "components/form/controls/date-input.njk" import datoinput as datoinput %}

<div class="container">
{% for item in datoinput_example.items %}
  {{datoinput(item.label, item.hint, item.day, item.month, item.year, item.tooltip, item.tooltipTitle, item.datepicker)}}
{% endfor %}
</div>
