{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}

<div class="container">
    <ul class="unstyled-list">
      {% for item in radiobuttons_example.items %}
      <li class="mb-2">
        {{ radiobutton(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large, item.sr) }}
      </li>
      {% endfor %}
    </ul>
</div>
