{% from "components/form/controls/text-area.njk" import textarea as textarea %}

<div class="container">
  {% for item in textarea_example.items %}
    {{textarea(item.id, item.label, item.optionallabel, item.class, item.name, item.classLabel, item.placeholder, item.hint, item.error)}}
  {% endfor %}
</div>
