{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

{% macro textinput(id, label, optionallabel, class, error, name, classlabel, success, disabled, hint, placeholder, value, tooltip, tooltipTitle, readonly) %}
  <div class="form-group{% if success %} form-success{% endif %}{% if error %} form-error{% endif %}">
      {% if label != "" %}<label class="form-label {{classlabel}}" for="{{id}}">{{label}}{% if optionallabel %}<span class="weight-normal"> {{optionallabel}}</span>{% endif %}{% if tooltip %}<button class="js-tooltip tooltip" data-tippy-trigger="click" title="{{tooltipTitle}}" aria-label="{{tooltipTitle}}"><svg class='icon-svg'><use xlink:href='#help-circle-outline'></use></svg></button>{% endif %}</label>{% endif %}
      {% if hint %}<span class="form-hint" id="input-hint-message-{{id}}">{{hint}}</span>{% endif %}
      {% if error %}<span class="form-error-message" id="form-error-message-{{id}}" role="alert">{{error}}</span>{% endif %}
     <input class="form-input  {{class}} " placeholder="{{placeholder}}" id="{{id}}" value="{{value}}" name="{{name}}" type="text" {% if disabled %}disabled="disabled"{% endif %} {% if error %}aria-describedby="form-error-message-{{id}}"{% endif %} {% if error %}aria-describedby="input-hint-message-{{id}}"{% endif %} {% if readonly %} readonly {% endif %}>
  </div>
{% endmacro %}

<div class="container">
  {% for item in textinput_example.items %}
    {{textinput(item.id, item.label, item.optionallabel, item.class, item.error, item.name, item.classLabel, item.success, item.disabled, item.hint, item.placeholder, item.value, item.tooltip, item.tooltipTitle, item.readonly)}}
  {% endfor %}
</div>
