---
permalink: /komponenter/footers/
layout: styleguide
title: Footers
category: Komponenter_category
subcategory: Komponenter
lead: En footer har til formål at betjene brugere, som når til siden bund uden at finde det de søgte
subnav:
- text: Simpel
  href: '#simpel'
- text: Tre kolonner
  href: '#footer-three-columns'
- text: Fire kolonner
  href: '#footer-four-columns'
- text: Kompleks
  href: '#footer-complex'
- text: Footer med logo
  href: '#footer-logo'
---

<h2 id="simpel">Simpel</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-simple/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-simple.png" alt="Simpel footer">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-simple/">Demo af simpel footer</a>
</div>
{% include code/accordion.html component="footer-simple" %}

<h2 id="three-columns">Tre kolonner</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-three-columns/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-three-columns.png" alt="Footer med tre kolonner">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-three-columns/">Demo af footer med tre kolonner</a>
</div>
{% include code/accordion.html component="footer-three-columns" %}

<h2 id="four-columns">Fire kolonner</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-four-columns/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-four-columns.png" alt="Footer med four kolonner">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-four-columns/">Demo af footer med fire kolonner</a>
</div>
{% include code/accordion.html component="footer-four-columns" %}

<h2 id="complex">Kompleks</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-complex/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-complex.PNG" alt="Kompleks footer">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-complex/">Demo af kompleks footer</a>
</div>
{% include code/accordion.html component="footer-complex" %}


<h2 id="footer-logo">Footer med logo</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-logo/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-logo.png" alt="Footer med logo">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-logo/">Demo footer med logo</a>
</div>
{% include code/accordion.html component="footer-logo" %}

