{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/tags/tags.njk" import tag as tag %}

<div class="container">
  {%- for tags in tag_example.items -%}
    {%- if tags.label %}
      <p class="h5">{{ tags.label }}</p>
    {% endif -%}
    {{ tag(tags.text, tags.class, tags.attribute, tags.icon) }}
  {% endfor -%}
</div>