{% from "components/form/templates/address-form.njk" import adresseform as adresseform %}

<form class="form-large">
  <fieldset>
    <legend>Adresse</legend>
    {{adresseform()}}
  </fieldset>
</form>