{% from "components/badge/badges.njk" import badge as badge %}

<div class="container">
  {%- for badges in badge_example.items -%}
    {%- if badges.label %}
      <p class="h5">{{ badges.label }}</p>
    {% endif -%}
    {{ badge(badges.class, badges.state) }}
  {% endfor -%}
</div>


