{% from "components/side-navigation/sidenav.njk" import nav_list as nav_list %}

<div class="container">
  <div class="row">
    <div class="col-12 sidebar-col">
      <nav>
        <ul class="sidenav-list">
          {{ nav_list(sidenav.links, 'sidenav-sub_list') }}
        </ul>
      </nav>
    </div>
  </div>
</div>